@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .light{
        --bgColor: hsl(0, 0%, 98%);
        --cardColor: hsl(0, 0%, 98%);
        --textColor: hsl(236, 9%, 61%);
        --darkTextColor: hsl(235, 19%, 35%);
    }
    .dark{
        --bgColor: hsl(235, 21%, 11%);
        --cardColor: hsl(235, 24%, 19%);
        --textColor: hsl(233, 14%, 35%);
        --darkTextColor: hsl(236, 33%, 92%);
    }
}

.checkbox{
    position: relative;
    width: 23px;
    height: 23px;
    border-radius: 50px;
    cursor: pointer;
    background-color: transparent;
}

.checkbox:checked{
    background: linear-gradient(to right,hsl(192, 100%, 67%),hsl(280, 87%, 65%));
    border:none;
}

.checkbox::before{
    content: '';
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
    pointer-events: none;
    background-image: url(./assets/icon-check.svg);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
}
.checkbox:checked::before{
    opacity: 1;
}
